rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Drivers collection
    match /drivers/{driverId} {
      allow read: if true;
      allow write: if true;
    }
    
    // Orders collection
    match /orders/{orderId} {
      allow read: if true;
      allow write: if true;
    }

    // Users collection
    match /users/{userId} {
      allow read: if true;
      allow write: if true;
    }

    // Reviews collection
    match /reviews/{reviewId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
